.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
  }
  
  .group-container {
    padding: 15px;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width : 1280px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width : 1140px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width : 768) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
  }